<h2> Bomb Engineer </h2>

<h4>{{model.name}}</h4>

<h5>{{model.nickname}}</h5>

<p>Age: <em>{{model.age}}</em></p>
<p>Lifestyle: <em>{{model.lifestyle}}</em></p>

{{#link-to 'team'}}Back to Engineering Team Listings{{/link-to}}
